#home {
    background-image: url(../../assets/img/medieval_inn.png);
    height: 100vh;
    .welcome-text {
        border-radius: 15px;
        background-color: rgba(202, 202, 202, 0.71);
        width: fit-content;
        left: 15%;
        position: relative;
        top: 30%;
    }
}