#home {
    .welcome-text {
        border-radius: 15px;
        background-color: rgba(202, 202, 202, 0.71);
        width: fit-content;
        margin-top: 2em;
        margin-left: 7em;
    }

    .quick-search {
        margin: auto;
    }
}