<div class="container w-100 position-relative room">
        <div class="player text-white"><span class="material-icons a">person</span></div>
        <div class="player text-white"><span class="material-icons b">person</span></div>
        <div class="player text-white"><span class="material-icons c">person</span></div>
        <div id="table-game"></div>
    <div class="card-list-container d-flex justify-content-center">
        <div class="card-container" *ngFor="let card of listPlayerCards">
            <app-card [card]="card" (clickedCardEmitter)="clickedCard($event)"></app-card>
        </div>
    </div>
</div>