<div class="container w-100 position-relative room">
        <div class="player text-white"><span class="material-icons" style="font-size: 9rem; position: absolute; left: 40%;top: 0%;">person</span></div>
        <div class="player text-white"><span class="material-icons" style="position: absolute; top: 30%; font-size: 9rem;">person</span></div>
        <div class="player text-white"><span class="material-icons" style="position: absolute; top: 30%; left: 80%; font-size: 9rem;">person</span></div>
        <div id="table-game"></div>
    <div class="card-list-container d-flex justify-content-center">
        <div class="card-container" *ngFor="let card of listPlayerCards">
            <app-card [card]="card" (clickedCardEmitter)="clickedCard($event)"></app-card>
        </div>
    </div>
</div>