<div class="container text-white">
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Which game?</label>
                <select class="custom-select" id="validationDefault04" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="briscola">Briscola</option>
                    <option value="tarot">Tarot</option>
                    <option value="belotte">Belotte</option>
                  </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Game's name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="My own party" required ngModel>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustomUsername">Your username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername"
                        aria-describedby="inputGroupPrepend" placeholder="MyUsername" required ngModel>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Number of players</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="Number of players" required ngModel>
                <div class="invalid-feedback">
                    Please provide a number greater than 0
                </div>
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Allow spectators</label>
          </div>
        <button class="btn btn-primary mt-3" type="submit">Create game</button>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>